.Main-time {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container {
    width: 80%;
    height: 50%;
}
.time {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 25px;
}

.time_icon{
    width: 34px;
    height: 34px;
  
}

.image-container {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.5);
}
  
.event-text {
    margin: 10px;
    position: absolute;
    top: 0;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
    transition: opacity 0.3s ease;
    color: white;
}
  
.image-container.hovered .event-text {
    opacity: 0;
}
  
.event-name {
    margin-bottom: 0px;
}
  
.event-date {
    margin-top: 0px;
    margin-left: 22px;
}
  
.detail_button{
    /*위치 조정*/
    margin: 10px;
    position: absolute;
    bottom: 50px;
    left: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    outline: none;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 2.7rem;
    font-size: 1rem;
    background-color: white;
    color: #282c34;
  
    box-shadow: 0 4px 6px -1px rgba(106, 106, 106, 0.5);
}
  
.image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s ease-in-out;
    filter: brightness(70%); /* 어둡게 만들기 */
  }
  
.image-container:hover .image {
    transform: scale(1.1);
}
  